.link {
  text-decoration: none;
}

.card {
  background-color: #171D1F;
  border-radius: 0.5rem;
  overflow: hidden;
}

.header {
  background-color: #888888;
  padding: 1.5rem;
}

.header figure {
  margin: 0;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.24);
  position: relative;
}

.header figure img {
  display: block;
  border-radius: 0.5rem;
}

.body, .footer {
  color: #BCBCBC;
  padding: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.body h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.body p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

