.form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.75rem;
}

.input {
  color: #bcbcbc;
  font-size: 22px;
  line-height: 1.5;
  background-color: #171d1f;
  flex-grow: 1;
  height: 51px;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
}
