* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #0e1112 0%, #00090e 100%);
  min-height: 100vh;
}

a:visited {
  color: #81fe88;
}

.app-container {
  width: 75rem;
  max-width: 90%;
  min-height: 100vh;
  margin: 3.5rem auto;
  display: flex;
  gap: 1.75rem;
}

.main-content {
  flex-grow: 1;
}

::backdrop {
  background-color: #171d1f;
  opacity: 0.8;
}
