.comments {
  list-style: none;
}

.comments li {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.comments li:not(:last-child) {
  border-bottom: 1px solid #3e3e3f;
}
