.form footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.body strong {
  color: #81fe88;
}

.body p {
  color: #e1e1e1;
}

.divider {
  height: 5.5rem;
  margin: 16px 0;
  border-left: 1px solid #888888;
}

.button {
  color: #171d1f;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
